.footer {
    background-color: #121314; /* Dark background */
    color: #fff; /* White text */
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 5px solid #46af4a; /* Accent color */
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 15px;
}

.text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }
}
